# Ignore Backend Files
node_modules/
package.json
package-lock.json

# Ignore System Files
.DS_Store
Thumbs.db

# Ignore Scripts
git-shortcut.ps1
.agent/rules/doublechecking.md
army_soldier.lua
.gitignore
.agent/skills/roblox_army_protocol/SKILL.md
